.Grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 9rem;
    justify-content: center;
    padding: 40px;
}
.viajes_title {
    display: flex;
    justify-content: center;
    background-color: black;
}
.comentari_container{
    display: flex;
    justify-content: center;
    background-color: rgba(0, 255, 255, 0.384);
}